<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap css --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <title>URL Shortener</title>
</head>
<body>

  {{{body}}}
  
  {{!-- Bootstrap js --}}
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>